* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
header {
	width:100%;
	height: 60px;
	position:fixed;
	background-color: rgba(16, 47, 80, .9);
	z-index:99999;
}
header h1 {
  font-weight: bold;
	display: inline-block;
	float: left;
	padding:5px 10px;
	text-transform: uppercase;
}
header h1 a {
  color: #eee;
	transition: .3s;
}
header h1 a:hover {
	color: #bbb;
}
header ul {
  font-weight: bold;
	float: right;
	padding: 5px;
}
header ul li {
	padding:10px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
	color: #eee;
}
header ul li a:hover {
	color: #bbb;
}
a {
	text-decoration: none;
}
.container {
	width:90%;
	margin:0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	filter: invert();
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 59px;
	bottom: 0;
	right: -300px;
	width:200px;
	background-color: rgba(16, 47, 80, .9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
}

.sidebar ul li {
	padding:24px;
	transition: .3s;
	transition-property: background-color;
	display:block;
}
.sidebar ul li:hover {
	background-color: #61c4d4;
}
#check:checked ~ .sidebar {
	right: 0;
}
#banner {	
	background-color: #1faaf1;
	padding:50px 0;
}
section {
	padding:50px 0;
}
#banner img {
	width: 100px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin: 50px 0;
	transition:.3s;
}

#banner a:hover img {
	transform:scale(1.2);
}

#banner h2,
#banner p,
#banner span {
	color: #fff;
}
#banner h2 {
	margin-bottom: 10px;
}
#banner p {
	font-size: 18px;
}
.banner-left {
	padding-left:24px;
}
.banner-left img {
	border:2px solid #fff;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
	font-weight: bold;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #ccc;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	background-color: #61c4d4;
	left: calc(50% - 20px);
}
#about p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 20px;
}
#skills,
#contact {
	background-color: #f9f9f9;
}
#skills {
	text-align:center;
}
.col-4 {
	width:25%;
	box-sizing: border-box;
	padding:5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 img {
	width:100%;
	transition:.3s;
	border:3px solid #eee;
}
.col-4 a:hover img {
	transform: translateY(-10px);
	box-shadow:0 10px 10px #777;
}
.col-md-3 img {
	transition:.3s;
	border:1px solid #777;
}
.col-md-3 a:hover img {
	transform: translateY(-10px);
	box-shadow:0 10px 10px #777;
}
.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:50px 10px;
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
.col-3 a {
  color: black;
}
footer {
	background-color: #333;
	padding:50px;
	text-align: center;
}
footer small {
	color: #fff;
}
footer small a {
	text-decoration:none;
	color:#fff;
}
html {
	scroll-behavior: smooth;
}
@media (max-width: 768px){
  header h1 {
    padding: 10px 10px;
  }
	.mobile-menu {
		display: block;
		padding: 10px;
	}
	header ul {
		display: none;
	}
	.col-4 {
		width:50%;
	}
	.col-3 {
		width:100%;
	}
	.col-md-3 {
	  width: 50%;
	}
}
